h1 {
  padding-top: 60px;
    text-align: center;
}
h2 {
  padding: 14px;
}   
h3 {
  padding: 14px;
}
  
 p {
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  font-size: 18px;
}
.egna {
  text-align: center;
}

body {
  background-color:grey;}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
  top: 0;
  width: 65.3%; 
  }
  
  .firstpage {
    background-color: whitesmoke;
    margin-left: 256px;
    margin-right: 256px;
    bottom: 0;
    height: 98vh;
    
  }
  .container {
    background-color: whitesmoke;
    margin-left: 256px;
    margin-right: 256px;
    bottom: 0;
    
  }
  .picture {
    text-align: center;
  }
  

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  .wrapper{
    Display:grid;
    grid-auto-rows:minmax(100px, auto);
    background:#eee;
    
  }