<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt: Webbhistoria Alexander</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/style.css">

  </head>  
  <body>
     <div class="container">

        <h1>Den historiska utvecklingen av: Twitch och Youtube</h1>
    <ul>
        <li><a class="active" href="/index.html">Startsida</a></li>
        <li><a href="historia.html">Viktiga händelser</a></li>
        <li><a href="om.html">Publiceringssytem</a></li>
        <li><a href="grundlaggandeprincip.html">Grundläggande principer</a></li>
        <li><a href="hemsidor.html">Hemsidors historia</a></li>
      </ul>
      
      <h1>Twitch</h1>
      <h2>Twitch 2011, 24 september</h2>
      <div class="picture"><img src="https://i.gyazo.com/ee72d0973db5a3c2994dd10d0ace62e5.png" alt=""> </div>
      <h2>Twitch nutid(2019, 16 december)</h2>     
      <div class="picture"><img src="https://i.gyazo.com/07b1091d4688c757018e80bffc6389ad.png" alt=""> </div>
      <div class="egna">
      <h1>Egna tankar</h1>
      <h2>Egna tankar kring orsaker av sidans utveckling</h2>
      <p>En skillnad mellan dem två bilderna är twitch prime och det finns nu eftersom att twitch köptes av amazon och dem ändrade på systemet så att dem kunde tjäna mer pengar från twitch. En annan skillnad är featured streams och knappen bläddra, dem finns för att intressera och engegera användarna till att spendera mycket tid med att titta på livestreams och helst också många olika kanaler.</p>
      <h2>Hur sidan skulle kunnat utvecklats annorlunda</h2>
      <p>En större del av sidan skulle kunnat blivit lila som deras logga. <br> Rekkomenderade kanaler skulle kunnat kategoriserats efter det som oftast görs av streamern, tex music, <br> art, gaming, just chatting, etc.</p>
      <h2>Hur den kan utvecklas i framtiden</h2>
      <p>Dem skulle kunna byta ut rekkomenderade kanaler/livekanaler till både rekkomenderade kanaler/livekanaler för dig <br> och även allmänt populära kanaler/livekanaler</p>
      </div>
      <h1>Youtube</h1>
      <h2>Youtube 2013, 1 juli</h2>
      <div class="picture"><img src="https://i.gyazo.com/3dfb450531569b1c01d32633e574260d.png" alt=""> </div>
      <h2>Youtube nutid(2019, 16 december)</h2>
      <div class="picture"><img src="https://i.gyazo.com/7ded03b2cfc8978b2f89124acdf6f42b.png" alt=""> </div>
      <div class="egna">
      <h1>Egna Tankar</h1>
      <h2>Egna tankar kring orsaker av sidans utveckling</h2>
      <p>Istället för att rekkomendera kanaler så rekkomenderar dem videor, vilket gör så att flera videor kan rekkomenderas. Videorna fungerar i sin tur som ett slags smakprov för deras respektive kanal.</p>
      <h2>Hur sidan skulle kunnat utvecklats annorlunda</h2>
      <p>Precis som med Twitch fast röd istället för lila så skulle en större del av sidan kunnat blivit rött. </p>
      <h2>Hur den kan utvecklas i framtiden</h2>
      <p>I framtiden skulle dem kunna kategorisera de recommended. Tex sport, music, speaches, vr etc.</p>
    </div>
    </div>
  </body>
  <script src="js/script.js"></script>
</html>