<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt: Webbhistoria Alexander</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/style.css">

  </head>  
  <body>
     <div class="container">

        <h1>Den historiska utvecklingen av: Twitch och Youtube</h1>
    <ul>
        <li><a class="active" href="/index.html">Startsida</a></li>
        <li><a href="historia.html">Viktiga händelser</a></li>
        <li><a href="om.html">Publiceringssytem</a></li>
        <li><a href="grundlaggandeprincip.html">Grundläggande principer</a></li>
        <li><a href="hemsidor.html">Hemsidors historia</a></li>
      </ul>
      
      <h1>Twitch</h1>


      <h1>Youtube</h1>
    </div>
  </body>
  <script src="js/script.js"></script>
</html>